.manage-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto;
  padding: 2rem;
  max-width: 600px;
}

.manage-title {
  font-size: 1.8rem;
}

.manage-contents {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contacts-list {
  list-style: none;
}
