.game-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.game-card-list li {
  flex: 1 1 30%;
  display: flex;
}

.game-card-list li > * {
  flex: 1;
}

.game-card {
  display: block;
  text-decoration: none;
  background-color: var(--color-bg-light);
  width: 220px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: var(--spacing-md);
  
  &:hover {
    background-color: var(--color-bg-hover);
  }
}

.game-card h3 {
  font-weight: bold;
  margin: 0 0 0.5rem 0;
}

.game-card p {
  margin: 0;
  font-size: 0.9rem;
  color: var(--color-text-gray);
}
