.mission-card {
  border: 1px solid #ddd;
  padding: var(--spacing-md);
  border-radius: var(--border-radius);
  width: 160px;
  height: 220px;
  text-align: center;
  font-size: var(--font-size-small);
  display: flex;
  gap: var(--spacing-sm);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #222;
  color: white;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s, background 0.3s;
  transform-origin: center center;
}

/* 카드 보기 hover/focus (관리자/유저 공통, 비활성화 제외) */
.mission-card.clickable:not(:disabled):is(:hover, :focus) {
  transform: scale(1.05);
}
/* 카드 닫힌 상태 hover/focus */
.mission-card.clickable:not(:disabled):is(:hover, :focus):not(.opened) {
  background-color: #333;
}

/* 열림 상태 */
.mission-card.opened {
  background-color: #fff;
  color: #000;
}

/* 확인 완료 상태 */
.mission-card.viewed {
  opacity: 0.5;
  cursor: not-allowed;
}

/* 미션 텍스트 */
.mission-text {
  word-break: break-all;
}

/* disabled 처리 */
.mission-card:disabled,
.mission-card[aria-disabled="true"] {
  cursor: not-allowed;
  opacity: var(--spacing-sm);
}
