.manage-contents {
  gap: var(--spacing-xl);


  .section-title {
    font-size: 1.3rem;
    margin-bottom: var(--spacing-md);
  }

  .game-info-section {
    .game-info-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .header-inner {
        display: flex;
        gap: 0.5rem;
      }
    }

    .game-info-list {
      list-style: none;
      padding: 0;
      margin: 0;
      
      li {
        display: flex;
        justify-content: space-between;
        padding: var(--spacing-sm) 0;
        border-bottom: 1px solid var(--color-bg-lighter);
        align-items: center;
        
        .info-row {
          display: flex;
          align-items: center;
          gap: var(--spacing-sm);
        }
        
        .info-label {
          font-weight: 600;
          color: var(--color-text-gray);
        }
        
        .info-value {
          color: var(--color-text-dark);
        }
      }
    }
  }
  
  .team-list li {
    padding: var(--spacing-sm) var(--spacing-md);
    margin-bottom: var(--spacing-sm);
    background: var(--color-bg-light);
    border-radius: var(--border-radius-sm);
  }
  
  .category-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-sm);
  }
  
  .category-chip {
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius);
    font-size: var(--font-size-small);
    cursor: default;
    user-select: none;
    background-color: var(--color-bg-lighter);
    border: 1px solid var(--color-border);
    color: var(--color-text-light);
  }
  
  /* 선택된 카테고리 */
  .category-chip.selected { 
    background-color: rgba(33, 150, 243, 0.1);
    border: 1px solid var(--color-primary);
    color: var(--color-primary-dark);
    font-weight: 600;
  }

  .play-group {
    margin-bottom: var(--spacing-xl);

    .play-info {
      display: flex;
      gap: 0.8rem;
      align-items: flex-end;
  
      .play-no {
        font-size: large;
        font-weight: 500;
      }
  
      .start-date {
        color: var(--color-text-light);
      }
    }
  }
}
