.play-contents {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .toolbar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .toolbar-right {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
