@import 'normalize.css';
@import './styles/reset.css';
@import './styles/a11y.css';
@import './styles/variables.css';
@import './styles/buttons.css';
@import './styles/typography.css';
@import './styles/inputs.css';
@import './styles/layout.css';

/* 글로벌 설정 */
body {
  font-weight: var(--font-normal);
  min-width: 320px;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: #213547;
    --color-bg: #ffffff;
  }
}
