.final-result-container {
  gap: 20px;

  .title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .result-section {
    
    .score-table {
      border-collapse: collapse;
      width: 100%;
      margin-top: 10px;
    }
    
    .score-table th,
    .score-table td {
      padding: 10px 8px;
      text-align: center;
    }
    
    .score-table tbody tr + tr {
      border-top: 1px solid #eee;
    }
    
    /* 우승 팀 강조 색 */
    .score-table tr.is-winner {
      background: #dfeeff;
      font-weight: 600;
    }
  }
}
